<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  </head>
  <body>
      <div id="app">
          <div class="box" id="search">
              <h1>Doggo Finder</h1>
              <div id="searchBox">
                <select class="specialSelect"  v-model="searchBreed">
                    <option v-for="b in breeds" v-bind:value="b">{{b.second}}</option>
                </select>
                
                <select id="lim" v-model="limit">
                    <option value="/5">5</option>
                    <option value="/10">10</option>
                    <option value="/15">15</option>
                </select>
                <button type="submit" @click="search">Fetch!</button>
                <select id="sex" v-model="sex">
                    <option value="M">M</option>
                    <option value="F">F</option>
                </select>
                <select id="age" v-model="age">
                        <option value="Baby">Baby</option>
                        <option selected value="Young">Young</option>
                        <option value="Adult">Adult</option>
                        <option value="Senior">Senior</option>
                    </select>
                <input id="loc" type="text" v-model="location">
                
                <button type="submit" @click="getData">Fetch!</button>
            </div>
          </div>
          <div class="box" id="results">
              <img v-for="m in result.message" v-bind:src="m">
          </div>
          <div id="shelters" >
              <div v-for="p in shelter">
                  <img v-bind:src="p.media.photos.photo[0].$t">
                  <p>{{p.name.$t}}</p>
                  <p>{{p.contact.phone.$t}}</p>
                  <p>{{p.contact.email.$t}}</p>
                  <p>{{p.contact.address1.$t}}</p>
                  <p>{{p.contact.city}}{{p.state.$t}}{{p.contact.zip.$t}}</p>
                  <p>{{p.mix.$t}}</p>

              </div>
          </div>
      </div>
      <p ><a href="https://www.petfinder.com">Powered by Petfinder.com</a></p>
  </body>
  <script>

</script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
  <script src="index.js"></script>
  <script src="vueComponents.js"></script>
</html> 