<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
      <div id="app">
          <header>
              <h1>Doggo Finder</h1>
          </header>
        <div id="search">
            <input id="searchTerm" type="text" value="Enter a dog breed to search" v-model="breed">
            <select id="lim" v-model="limit">
                <option value="">1</option>
                <option value="/5">5</option>
                <option value="/10">10</option>
            </select>
            <button type="submit" @click="search">Fetch!</button>
        </div>
        <div id="results">
            <div contents>
                <img v-for="m in result.message" v-bind:src="m">
            </div>
        </div>
      </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
  <script src="index.js"></script>
</html> 