*{
    box-sizing: border-box;
}

#app{
    display: flex;
}

.box{
    margin-left: 0%;
    width: 1000px;
}

#search{
    flex: 25%;
    padding: 10px;
    height: 950px;
    background-color: black;
}

#title{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    font-size: 100px;
    padding: 5px;
    font-family: 'Text Me One', sans-serif;
}

#subTxt{
    margin: 0 auto;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Text Me One', sans-serif;
}
#searchBox{
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
    padding: 15px;
    width: 250px;
    font-family: 'verdana', sans-serif;
}

.titles{
    font-size: 25px;
    color: white;
    font-family: 'Text Me One', sans-serif;
}

.selections{
    text-align: left;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 0px;
    color: white;
    font-family: 'Text Me One', sans-serif;
}

#results{
    flex: 75%;
    padding: 10px;
    height: 950px;
    background: whitesmoke;
    text-align: center;
    overflow: scroll;
}

#shelters{
    flex: 75%;
    padding: 10px;
    height: 950px;
    background: whitesmoke;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

#info{
    display: flex;
    flex-direction:column;
    height: 500px;
    width: 400px;
    padding: 15px;
    margin-top: 200px;
    margin-left: 25px;
    margin-right: 25px;
}

#details{
    font-size: 12px;
    padding: 5px;
    margin-top: 5%;
    border-bottom: solid;
    border-width: 1px;
    background-color: white;
    font-family: 'verdana', sans-serif;
}

#dogName{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0px;
    font-family: 'Text Me One', sans-serif;
}

#contact{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.preview{
    margin: 0 auto;
    width: auto;
    border-top: solid;
    border-bottom: solid;
    padding: 5px;
    border-radius: 15px;
    border-width: 1px;
}

img{
    margin: 0 auto;
    width: 250px;
    padding: 15px;
}

button{
    margin: 15px;
    display: inline-block;
    cursor: pointer;

    background: #90ee90;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    padding: 15px 58px;
    box-shadow: 0 1px 4px rgba(255,255,255, 1);
    font-size: 9.5pt;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.4);
    font-family: sans-serif;
    text-decoration: none;
}
